.container {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text{
  line-height: 0;
  font-family: Nunito Sans-Regular, sans-serif;
  color: $blue;
  @include media((
        font-size: (xs:1rem, md:1.5rem),
));


}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 8px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: $blue;
  border: 1px solid;
  border-color: $blue;
  border-radius: 4px;

}

.container:hover input ~ .checkmark {
  background-color: $blue;
  border-color: $blue;
}

.container input:checked ~ .checkmark {
  background-color: white;
  border-color: $blue;
}